
  
  .category-nav {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin: 3rem 0;
    padding: 1rem 0;
  }
  
  .category-nav a button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    background-color: #536DFE;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .category-nav a button:hover {
    background-color: #00E5FF;
    color: #37474F;
    transform: translateY(-2px);
  }
  
   .Digital-Work{
    margin-top: 3rem;
  }
  
  section h2 {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  
  section div,
  section article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  article {
    background-color: #ECEFF1;
    border: none;
    border-radius: 2px;
    width: 350px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  article h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 1rem 0;
    background-color: #CFD8DC;
    border-radius: 12px;
  }
  
  article ul {
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  
  article button {
    font-family: "Roboto Mono", monospace;
    background-color: #8efe8a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  article button:hover {
    background-color: #56f550;
    color: #37474F;
  }

  